<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Semicolon separated list ex. field1:value1;field2:value2;field3:value3-->
    <add key="LogFilters" value="Throttle Opening Angle (%):gt,50;"/>
    <add key="AutoTuneAfrSource" value="Tumble Valve Position Sensor Left (AFR)"/>
  </appSettings>
</configuration>